body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.menu{
  display: none;
}
.App{
  max-width: 1230px;
  width: 100%;
  margin: auto;
  box-shadow: 0 2px 6px #555 ;
  padding: 0 15px;
}
dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: #555;
  padding: 0;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
header{
  max-height: 100px;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
}

a{
  text-decoration: none;
  text-transform: uppercase;
  color: #555;
  letter-spacing: 4px;
}
ul li{
  list-style: none;
  /* display: inline; */
  padding: 0px 25px;
  
}
.list-item{
  display: flex;
}
.cart-icon{
  position: relative;
}
.cart-icon span{
  position: absolute;
  background-color: red;
  color: white;
  border-radius: 20px;
  font-size: 10px;
  padding: 5px;
  top:-10px;
  right: -10px;
}
a:hover{
  color: lightseagreen;
}
/* //////////////////////////////products////////////////////////////////////// */
.search{
  display: flex;
  justify-content: space-between;
}
.product-input input{
  padding: 10px 70px;
  margin: 20px;
  border-radius: 5px;
  border-color: #555;
  color: #555;
  padding-left: 10px;
  
}

select{
  padding: 5px 40px;
  margin: 20px;
  border-radius: 5px;
}



.products{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 15px 0;

}
.card{
  max-width: 350px;
  width: 100%;
  overflow: hidden;
  height: 450px;
  box-shadow: 0 0 5px #ccc;
  padding: 15px;
  margin: 15px 0;
  cursor: pointer;
}
.images{
  width: 100%;
  max-height: 200px;
  display: block;
  object-fit: cover;

}

.card .box{
  margin: 15px 0;
}
.box button{
width: 100%;
padding: 10px 0px;
margin: 10px 0px ;
background-color: #555;
color: white;
border: none;
outline: none;
cursor: pointer;
text-align: center;
text-transform: uppercase;
letter-spacing: 2px;
}
.remove-cart{
  background-color: crimson !important;
  color: white !important;

}
.box h2{
  color: #555;
  text-transform: uppercase;
  letter-spacing: 2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.box p{
  /* padding: 10px 0; */
  line-height: 1.5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  /* height: 70px; */
  
}
.box h3{
  color: crimson;
}
.box h2:hover{
  color: lightseagreen;
}
/* ///////////////////////////details products////////////////////////////////// */
.details{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  padding: 50px;
  position: relative;
}
.img-container{
  width: 100%;
  max-width: 500px;
  height: 450px;
  margin: 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
.img-container-cart{
  width: 100%;
  max-width: 500px;
  height: 450px;
  margin: 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.details .img-container:hover{
  background-size: 200%;
  border: 1px solid #ddd; 
  cursor: zoom-in;
}
.box-details{
  max-width: 500px;
  width: 100%;
  margin: 20px;
}
.box-details h2{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2rem;
  color: rgb(10, 101, 71);
  margin: 5px 0px;
}
.box-details h3{
  color: crimson;
  margin: 5px 0px;
}
.box-details .cartbutton{
  background-color: #555;
  color: white;
  border: none;
  padding: 10px 60px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 10px 0px;


}
.colors button , .sizes button{
  width: 35px;
  height: 30px;
  border: none;
  margin: 5px ;
}
.sizes button{
  background-color: #555;
  color: white;
}
.box-details .detailthumb img{
 width: 50px;
 margin: 20px;
 overflow: hidden;
 cursor: pointer;
}
/* ///////////////////////cart/////////////////////// */
.count{
  background-color: #555;
  color: white;
  padding: 5px 20px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.amount span{
  padding: 5px 20px;
}
.delete{
  position: absolute;
color: crimson;
font-weight: bold;
font-size: 20px;
top:0;
right:0;
cursor: pointer;
}
.total{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.total a{

background-color: #555;
color: white;
padding: 10px 25px;
}
.total h3{
  color: crimson;
  font-size: 30px;
}
@media (max-width: 700px){
  .search{
    display: flex;
    flex-direction: column;
  }
  header{
    justify-content: space-between;
    height: 100px;
  
  }
  header .logo{
    display: none;
  }
  .cart-icon{
    margin-right: 20px !important;
  }
  ul{
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 99;
    transition: 0.5s ease-in;
  }
  .menu{
    display: block;
    cursor: pointer;
  }
  ul li .menu{
    position: absolute;
    top: 20px;
    right: 20px;
  }

}
@media (max-width: 500px){
  .details{
    padding: 0;
  }
  .box-details .thumb img{
    width: 40px;
  }
  .details .img-container{
    height: 350px;
  }
}
/* 
/////////////////Footer////////////////////////////////// */

.footer-ul a{
padding: 0px !important;
margin: 0px !important;
letter-spacing: 0px !important;
text-align: left !important;
display: flex;
margin-top: 0px;
height: 10px;
text-transform: capitalize;
}
.footer-ul{
  margin: 0px !important;
  padding: 0px !important;
}
/* ///////////////////////////login//////////////////// */
.container{
  background-image: url("https://www.netelevation.com/wp-content/uploads/2017/10/login-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.field{
  display: flex;
  flex-direction: column;
}
.field input{
  background-color: rgba(255, 255, 255, 0.418);
  padding: 10px 20px;
  margin: 10px 0px;
  border: 1px solid rgba(77, 76, 76, 0.854);
  border-radius: 5px;
}
.field input:hover{
  border: 1px solid rgba(77, 76, 76, 0.854) !important;
}
form{
  background-color: rgba(255, 255, 255, 0.313);
  padding: 40px 60px;
  color: rgb(0, 0, 0);
  border-radius: 20px;
}
.button{
  padding: 10px 90px;
  margin: 20px 0px;
  border: none;
  text-transform: uppercase;
  background-color: #1976D2;
  border-radius: 5px;
  color: white;
  letter-spacing: 2px;
}
.errors{
  color: red;
  padding: 0!important;
  margin: 0!important;
}
.ui-message-sucess{
  text-transform: uppercase;
  color: white;
  background-color: rgba(7, 71, 7, 0.566);
  padding: 10px 70px;
  margin: 20px;
  border-radius: 10px;
  /* transform: translateY(); */
  transition: 1s;
}
.ui-form label{
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: capitalize;
}
.ui-form ::placeholder{
  letter-spacing: 1px;
  text-transform: capitalize;
}